ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
h1, h2, h3, h4, p {
    margin-bottom: 0;
    margin-top: 0;
}
img {
display: block;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color:#FFF;}
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    /* =======HEADER======= */
    .page-header{
    border-bottom: 1px solid #e7e9fc;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
    }
.page-navigation{
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
    gap: 40px;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.navigation-list-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link:hover,
.navigation-list-link:focus{
color: #404bbf;
}
.current{
    position: relative;
    color: #404bbf;

}
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.address {
font-style: normal;
}

.address-list { 
    display: flex;
    gap: 40px;
}

.address-list-item {}

.address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px ;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
color: #404bbf;
}

/* =======HERO======= */
.hero { 
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440рх;
    margin-left: auto;
    margin-right: auto;
}
.hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
       max-width: 496px;
       font-weight: 700px;
       align-content: center;
       margin: 0 auto;
       margin-bottom: 48px;
}

.button-top {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: #4d5ae5;
        color: #fff;
        min-width: 169px;
        height: 56px;
        display: block;
        margin: 0 auto;
        border: none;
        border-radius: 4px;     
        
}
.button-top:hover,
.button-top:focus {
    background: #404bbf;
}
/* =======BENEFITS======= */
.benefits {
    padding: 120px 0;
}
.im-icons {
box-sizing: border-box;
background: #f4f4fd;
border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px; 
    padding-top: 24px;
    padding-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
display: flex;
gap: 24px;
justify-content: center;
}

.benefits-list-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
       
}

.benefits-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
}
/* =======OUR TEAM======= */
.team-section {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.name-text-container{
    padding: 32px 0;
}
.team-section-title {
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-item {
    background: #fff;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

.name-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
}
.team-card {
    display: block;
    align-items: flex-start;
}
.iteam-box {
    max-width: 264px;
   max-height: 380px;
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    padding-bottom: 120px;
}
.social-list{
    display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
        margin-top: 8px;   
}
.social-list-link{
    display: block;
   width: 40px;
    height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        fill: #FFF;
}

/* =======OUR PORTFOLIO======= */
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}
.portfolio-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-item {
    background: #fff;
}

.portfolio-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.name-app-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* =======FOOTER======== */
.page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
       
}

.logo-second {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}